<html>

	<head>
		<title> Einsey's Grade Calculator
		</title>
	</head>

	<body>
		
		<form>

			<h1><center>Einsey's Grade Calculator</center></h1>
			<center>Hey, welcome to my website! In this page, you can compute what grade you will need to get in order to get your resired final grade!</center>
		
			<table>
			
				<tr>
						
						<td> <label for ="curr_grade"> What is your current grade in %?</label> </td>
						<td> <input type= "text" id="curr_grade" name="curr_grade"> </td>
						
				</tr>
						
				<tr>
				
						<td> <label for ="expect_grade"> What percentage do you want in the class?</label> </td>
						<td> <input type= "text" id="expect_grade" name="expect_grade"> </td>	
				
				</tr>
						

				<tr>
				
						<td> <label for ="worth_grade"> How much percentage is your final worth?</label> </td>
						<td> <input type= "text" id="worth_grade" name="worth_grade"> </td>
				
				</tr>

				<tr>
					<td></td>
				
				
				
					<td><button type="reset" value="Reset">Reset</button>
					<td><input type="submit" value="Compute Score">
				</tr>

			</table>			


		</form>

	</body>



</html>